body{
  height: 100%;
  background-color: #673ab7;
}

.mat-toolbar.mat-primary {
  background: #F124CF;
  color: #fff;
  padding-left: 1em;
  padding-right: 2em;
}

.appName{
  font-weight: bold;
  margin-bottom: auto;
  width: 100%;
  margin: auto;
  padding-left: 0.5em;
}

.container{
  padding-bottom: 2em;
}
